@using Microsoft.AspNetCore.Authentication
@using modelo_core_mvc.Errors;
@using Microsoft.Extensions.Configuration
@using SefazLib;
@inject IConfiguration Configuration
@inject IdentityConfig identityConfig;

@{
    var nomeExibicao = "Não autenticado";
    var jwt = "";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
    }
}

<div>
    <p class="tituloFormulario">Usuário autenticado:</p>
    <div class="usuarioInfo">
        <div>
            <p>Nome: @ViewData["Nome"]</p>
            @if (ViewData["Login"] != null)
            {
                <p>Login: @ViewData["Login"]</p>
            }
            @if (ViewData["Cpf"] != null)
            {
                <p>Identificação: @ViewData["Cpf"]</p>
            }
            @if (ViewData["Nascimento"] != null)
            {
                <p>Nascimento: @ViewData["Nascimento"]</p>
            }
        </div>
    </div>
    @if (!string.IsNullOrEmpty(jwt))
    {
        <h3>jwt:</h3>
        <div class="card">
            @jwt
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewData["token"].ToString()))
    {
        <h3>jwt:</h3>
        <div class="card">
            @ViewData["token"]
        </div>
    }
</div>