@using Microsoft.AspNetCore.Authentication
@using modelo_core_mvc.Errors;
@using Microsoft.Extensions.Configuration
@using SefazLib;
@inject IConfiguration Configuration
@inject IdentityConfig identityConfig;

@{
    var nomeExibicao = "Não autenticado";
    var jwt = "";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
    }
}

<section role="status" aria-labelledby="autenticacaoTitulo">
    <h1 id="autenticacaoTitulo" class="tituloFormulario">Usuário autenticado:</h1>
    <div class="usuarioInfo" role="region" aria-labelledby="perfilTitulo" tabindex="0">
        <h2 id="perfilTitulo">Informações do Perfil</h2>
        <p id="nomeUsuario">Nome: @ViewData["Nome"]</p>
        @if (ViewData["Login"] != null)
        {
            <p id="loginUsuario">Login: @ViewData["Login"]</p>
        }
        @if (ViewData["Cpf"] != null)
        {
            <p id="cpfUsuario">Identificação: @ViewData["Cpf"]</p>
        }
        @if (ViewData["Nascimento"] != null)
        {
            <p id="nascimentoUsuario">Nascimento: @ViewData["Nascimento"]</p>
        }
    </div>
    @if (!string.IsNullOrEmpty(jwt))
    {
        <h2 id="jwtTitulo">JWT:</h2>
        <div class="card">
            @jwt
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewData["token"].ToString()))
    {
        <h3 id="jwtTokenTitulo">JWT:</h3>
        <div class="card">
            @ViewData["token"]
        </div>
    }
</section>