@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Configuration
@using SefazLib;
@inject IdentityConfig identityConfig;
@inject IConfiguration Configuration

<h1>@ViewData["Message"]</h1>

<section role="status" aria-labelledby="Autenticacao">
    <h1 id="Autenticacao">Informações de autenticação</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <h2>Usuário não autenticado.</h2>
    }
    else
    {
        <h2>Claims:</h2>
        <dl class="claims">
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
                <dd>@claim.Issuer</dd>
            }
        </dl>
        <h2>Propriedades:</h2>
        <dl class="claims">
            @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <dt>@prop.Key</dt>
                <dd>@prop.Value</dd>
            }
        </dl>
        <dl class="claims">
            <dt>BootstrapContext</dt>
            <dd>@User.Identities.First().BootstrapContext</dd>
        </dl>
    }

    @if (!string.IsNullOrEmpty(ViewData["Authority"].ToString()))
    {
        <p>
            Authority: @Configuration["loginsefaz:ServerRealm"] -
            @ViewData["Authority"]
        </p>
        <p>
            Metadata: @Configuration["loginsefaz:Metadata"] -
            @ViewData["Metadata"]
        </p>
    }
</section>

