@using Breadcrumbs.Models

@if (ViewBag.Breadcrumbs != null)
{
    <nav id="navBreadcrumb" aria-label="Trilha de navegação">
        <div class="breadcrumb">
            @foreach (var breadcrumb in ViewBag.Breadcrumbs as List<Breadcrumb>)
            {
                if (breadcrumb.Active)
                {
                    <div class="breadcrumb-item active">
                        <a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller" aria-label="Link para @breadcrumb.Text">
                            @if ((breadcrumb.Text == "Home") || (breadcrumb.Text == "Início"))
                            {
                                <i class="fas fa-home" aria-label="Página inicial"></i>
                            }
                            else
                            {
                                @breadcrumb.Text
                            }
                        </a>
                    </div>
                }
                else
                {
                    <div class="breadcrumb-item">
                        @if ((breadcrumb.Text == "Home") || (breadcrumb.Text == "Início"))
                        {
                            <i class="fas fa-home" aria-label="Página inicial"></i>
                        }
                        else
                        {
                            @breadcrumb.Text
                        }
                    </div>
                }
            }
        </div>
    </nav>
}
