@using Breadcrumbs.Models

@if (ViewBag.Breadcrumbs != null)
{
    <nav id="navBreadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var breadcrumb in ViewBag.Breadcrumbs as List<Breadcrumb>)
            {
                if (breadcrumb.Active)
                {
                    <li class="breadcrumb-item active" aria-current="page">
                        <a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller" aria-label="Link para @breadcrumb.Text">
                            @if (breadcrumb.Text == "Home")
                            {
                                <i class="fas fa-home" aria-label="Página inicial"></i>
                            }
                            else
                            {
                                @breadcrumb.Text
                            }
                        </a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item" aria-current="page" aria-label="Link inativo">
                        @if (breadcrumb.Text == "Home")
                        {
                            <i class="fas fa-home" aria-label="Página inicial"></i>
                        }
                        else
                        {
                            @breadcrumb.Text
                        }
                    </li>
                }
            }
        </ol>
    </nav>
}
