@using modelo_core_mvc.Models;
@model modelo_core_mvc.Models.ProjetosModel

<h2>@ViewData["Message"]</h2>

<div>
    <dl class="row tabela">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<partial name="_Botoes" model='new Tuple<string, string, string, string>("", "", @ViewData["url"].ToString(), "Cancelar")' />
