@using modelo_core_mvc.Models;
@model modelo_core_mvc.Models.ProjetosModel

<h1 id="titulo-formulario">Excluir registro</h1>
<h3>Deseja excluir esse registro?</h3>
<div>
    <hr />
    <div class="form-group">
        <dl class="row tabela">
            <dt>
                @Html.DisplayNameFor(model => model.id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.descricao)
            </dd>
        </dl>
    </div>

    <form asp-action="Excluir">
        <input asp-for="id" hidden />
        <partial name="_Botoes" model='new Tuple<string, string, string, string>("", "Excluir", "", "Cancelar")' />
    </form>
</div>
