@using modelo_core_mvc.Models;
@model IEnumerable<ProjetosModel>

<h1 id="titulo-formulario">Formulário de manutenção de dados</h1>
@if (Model is null)
{
    <p>@ViewData["Erro"]</p>
}
else
{
    <section id="formulario" role="doc-form" aria-labelledby="titulo-formulario">
        <button id="tabela-botao-adicionar"
                class="btn"
                aria-label="Adicionar novo projeto"
                onclick="location.href='@Url.Action("Adicionar", "Projetos")'">
            <i class="fas fa-plus"></i>
            Adicionar
        </button>

        <table id="tabela" class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.nome)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.descricao)
                    </th scope="col">
                    <th class="coluna-botoes" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>
                        <td class="coluna-botoes tabela-botoes">
                            <button class="tabela-botao-alterar" title="Alterar" aria-label="Alterar" onclick="location.href='@Url.Action("Alterar", new { id = item.id })'">
                                <i aria-hidden="true" class="fas fa-edit"></i>
                            </button>
                            <button class="tabela-botao-consultar" title="Ver detalhes" aria-label="Ver detalhes" onclick="location.href='@Url.Action("Detalhes", new { id = item.id })'">
                                <i aria-hidden="true" class="fas fa-info-circle"></i>
                            </button>
                            <button class="tabela-botao-excluir" title="Excluir" aria-label="Excluir" onclick="location.href='@Url.Action("Excluir", new { id = item.id })'">
                                <i aria-hidden="true" class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
