@using modelo_core_mvc.Models;
@model IEnumerable<ProjetosModel>

@if (Model is null)
{
    <p>@ViewData["Erro"]</p>
}
else
{
    <section role="status" aria-labelledby="titulo-formulario">
        <h1 id="titulo-formulario">Formulário de manutenção de dados</h1>
        <a id="tabela-botao-adicionar" class="btn" asp-action="Adicionar">+ Adicionar</a>
        <table id="tabela" tabindex="-1" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td tabindex="0">
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td tabindex="0">
                            @Html.DisplayFor(modelItem => item.nome)
                        </td>
                        <td tabindex="0">
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>
                        <td class="tabela-botoes">
                            <a id="tabela-botao-alterar" asp-action="Alterar" asp-route-id="@item.id">
                                <i role="button" title="Alterar" aria-label="Alterar" class="fas fa-edit"></i>
                            </a>
                            <a id="tabela-botao-consultar" asp-action="Detalhes" asp-route-id="@item.id">
                                <i role="button" title="Ver detalhes" aria-label="Ver detalhes" class="fas fa-info-circle"></i>
                            </a>
                            <a id="tabela-botao-excluir" asp-action="Excluir" asp-route-id="@item.id">
                                <i role="button" title="Excluir" aria-label="Excluir" class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
