@using modelo_core_mvc.Models;
@model IEnumerable<FormularioModel>

<h1 id="titulo-formulario">Formulário de manutenção de dados</h1>
@if (Model is null)
{
    <p>@ViewData["Erro"]</p>
}
else
{
    <section id="formulario" aria-labelledby="titulo-formulario">
        <div class="barraCabecalhoFormulario">
            <button class="btn btn-regular mr-1"
                    aria-label="Adicionar novo projeto"
                    aria-live="polite"
                    onclick="location.href='@Url.Action("Adicionar", "Formulario")'">
                <i class="fas fa-plus"> </i>
                <span>Adicionar</span>
            </button>
        </div>

        <table class="table tabela">
            <caption class="visually-hidden">Tabela de projetos</caption>
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.nome)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.descricao)
                    </th scope="col">
                    <th class="coluna-botoes" scope="col" aria-label="Botões de ação: Editar, Consultar e Excluir"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>
                        <td class="tabela-botoes coluna-botoes">
                            <button class="btn-focus tabela-botao-alterar" 
                                    title="Alterar @item.nome" 
                                    aria-label="Alterar @item.nome" 
                                    onclick="location.href='@Url.Action("Alterar", new { id = item.id })'">
                                <i aria-hidden="true" class="fas fa-edit"></i>
                            </button>
                            <button class="btn-focus tabela-botao-consultar" 
                                    title="Ver detalhes de @item.nome" 
                                    aria-label="Ver detalhes de @item.nome" 
                                    onclick="location.href='@Url.Action("Detalhes", new { id = item.id })'">
                                <i aria-hidden="true" class="fas fa-info-circle"></i>
                            </button>
                            <button class="btn-focus tabela-botao-excluir" 
                                    title="Excluir @item.nome" 
                                    aria-label="Excluir @item.nome" 
                                    onclick="location.href='@Url.Action("Excluir", new { id = item.id })'">
                                <i aria-hidden="true" class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_Paginacao" />
    </section>
}
